# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# OS junk
.DS_Store
Thumbs.db

# Models / embeddings / vector db
policy_db/
*.bin
*.pt
*.onnx
*.safetensors

# HuggingFace cache
.cache/
.huggingface/
*.lock

# Ollama models (important)
C:\Users\*\AppData\Local\Ollama\

# Logs & db
*.log
*.sqlite3
*.db

# Streamlit cache
.streamlit/

# VS Code
.vscode/
